.container {
  width: 300px;
  height: 300px;
}
@media screen and (max-width: 600px) {
  .container {
    background-color: black;
  }
}
@media screen and (min-width: 600px) and (max-width: 1000px) {
  .container {
    background-color: red;
  }
}
@media screen and (min-width: 1000px) {
  .container {
    background-color: blue;
  }
}
.youtubeBox {
  width: 20rem;
  height: 20rem;
  /* background-color: #333333; */
  background-color: red;
}
.youtubeSearch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 20px;

  position: absolute;
  width: 350px;
  /* height: 300px; */
  left: calc(50% - 350px / 2);
  /* top: calc(50% - 375px / 2 + 0.5px); */

  /* background-color: aqua; */
  background-color: #ffffff;
  box-shadow: 0px 10px 25px rgba(29, 52, 54, 0.08);
  border-radius: 10px;
}
.searchButton {
  /* display: flex;
  flex-direction: column; */
  position: absolute;
  left: calc(50% + 350px / 2);
  width: 100px;
  height: 57px;
  box-shadow: 0px 10px 25px rgba(29, 52, 54, 0.08);
  border-radius: 10px;
  /* padding: 20px; */
}
