.Box {
  margin: 0 auto;
  min-height: 100vh;
}

.ChartBox {
  margin: 0 auto;
}

/* .CashAssetBox {
  width: 30rem;
  height: 5rem;
}

.FloatBox {
  float: left;
} */

/* .InputBox {
  float: left;
} */

/* .displayMainBox {
  width: 50rem;
} */

.displayBox {
  float: left;
}

.DisplayInputBoxName {
  width: 5rem;
}

.DisplayInputBoxValue {
  width: 10rem;
}

.DisplayInputBoxRatio {
  width: 6.5rem;
}

.FloatClear {
  margin: auto;
}

.SubmitButton {
  clear: both;
  width: 100%;
}

.InputTotalBox {
  width: 21.5rem;
  margin: auto;
}
