.Box {
  /* margin: auto; */
  min-height: 55rem;
}

.ChartBox {
  margin: 0 auto;
}
.cashAssetBox {
  width: 30rem;
  height: 5rem;
}

.floatBox {
  float: left;
}

.inputBox {
  width: 15rem;
  float: left;
}

/* .displayMainBox {
  width: 50rem;
} */

.DisplayBox {
  float: left;
}

.DisplayInputBoxName {
  width: 7rem;
}

.DisplayInputBoxValue {
  width: 8rem;
}

.DisplayInputBoxRatio {
  width: 8.5rem;
}

.InputTotalBox {
  width: 30rem;
  margin: auto;
}
