.Box {
  margin: 0 auto;
}

.ChartBox {
  margin: 0 auto;
}

.cashAssetBox {
  width: 30rem;
  height: 5rem;
}

.floatBox {
  float: left;
}

.inputBox {
  float: left;
}

/* .displayMainBox {
  width: 50rem;
} */

.displayBox {
  float: left;
}

.displayInputBoxName {
  width: 10rem;
}

.displayInputBoxValue {
  width: 26.25rem;
}

.displayInputBoxRatio {
  width: 10rem;
}

.FloatClear {
  margin: auto;
}

.SubmitButton {
  clear: both;
  width: 100%;
}
